@model Week7CodeChallenge.Models.Contact
@{
    ViewBag.Title = "ThankYou";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thank You for playing us today!!</h2>
<p>We at Fake Studios will contact you. @Model.Name</p>

