@{
    ViewBag.Title = "About";
}

<div class="container">
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Who</a></li>
        <li role="presentation"><a href="#">What</a></li>
        <li role="presentation"><a href="#">Why</a></li>
        <li role="presentation"><a href="#">How</a></li>
        <li role="presentation"><a href="#">Where</a></li>
    </ul>
    @*Partial view*@
</div>
