@{
    ViewBag.Title = "About";
    }
<ul class="nav nav-tabs">
    <li role="presentation" class="ajax-tab" onclick="OnAbout('Who')"><a class="ajax-tab-link"onclick="OnAbout('Who')">Who</a></li>
    <li role="presentation" class="ajax-tab" onclick="OnAbout('What')"><a class="ajax-tab-link" href="#" onclick="OnAbout('Why')">What</a></li>
    <li role="presentation" class="ajax-tab" onclick="OnAbout('Why')"><a class="ajax-tab-link" onclick="OnAbout('Why')" href="#">Why</a></li>
    <li role="presentation" class="ajax-tab" onclick="OnAbout('How')"><a class="ajax-tab-link" onclick="OnAbout('How')" href="#">How</a></li>
    <li role="presentation" class="ajax-tab" onclick="OnAbout('Where')"><a class="ajax-tab-link" onclick="OnAbout('Where')" href="#">Where</a></li>
</ul>

<div id="about" class="container">
    @Html.Partial("Who")
</div>
