@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <img class="img-responsive" src="http://tinyurl.com/lf-suhbg" width="100%" />
</div>
    @for (int i = 0; i < 3; i++)
    {
        <div class="col-md-4 subTopic">
            <h2>TITLE</h2>
            <p>lorem ipsum. lorem ipsum. lorem ipsum. lorem ipsum. lorem ipsum. lorem ipsum. lorem ipsum.</p>
        </div>
    }