@{
    ViewBag.Title = "Home Page";
}

<div class="container">
        <img src="http://tinyurl.com/lf-suhbg" width="100%" />
        @for (int i = 0; i < 3; i++)
        {
            <div class="div2 col-md-4">
                <h2>TITLE</h2>
                <p>lorem ipsum. lorem ipsum. lorem ipsum. lorem ipsum. lorem ipsum. lorem ipsum. lorem ipsum.</p>
            </div>
        }
</div>